<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/css/login.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="form">
        <h1>Website</h1>
        <form method="post">
            <div class="switch">
              <label id="user">User</label>
              <label id="admin" class="gray">Admin</label>
            </div>
            <p class="arrow left"></p>
            <input name="loginAs" value="participant" type="hidden">
            <input name="username" placeholder="username" required="" type="text" autofocus="autofocus">
            <input name="password" placeholder="password" required="" type="password">
            <button type="submit">Log in</button>
            <div id="show"></div>
        </form>
    </div>

    <script>
        var failure = <%= flag %>;
        if (failure == 1) {
          $("#show").append("Username doesn't exist!");
        } else if (failure == 2) {
          $("#show").append("Incorrect username or password!");
        }  
    </script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>