<html>

<head>
  <meta charset="UTF-8">
  <title>Play</title>
  <link href="/css/common.css" type="text/css" rel="stylesheet">
  <link href="/css/play.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>

  <div id="welcome" class="box bottom hide">
  	<div class="title" align="center">
  		<h1>Welcome! <%= participantID %></h1>
  	</div>
  	<div class="content short">
      <div>
        <p id="welcome-info">Thank you for your participation! In this experiment, you will perform as a buyer or seller in the negotiations between supply chain partners.</p> 
        <p class="continue-info">We've detedcted that you have not completed the experiment. Click the button to continue it.</p> 
      </div>

  		<div id="description">
  			<!-- load here -->
  		</div>
  	</div>
  	<div class="padding-end" align="center">
  		<button id="warm-up" class="big">Let's Start a Warm-Up !</button>
      <button id="view-description" class="big view">Description</button>
      <button id="continue" class="big">CONTINUE</button>
  	</div>
  </div>

  <div id="waiting" class="backdrop">
    <div class="round">
      <div class="loader"></div>
      <div id="waiting-info"></div>
    </div>
  </div>

  <div id="preparation" class="backdrop">
    <div class="preparation-content">
      <div>Your role:
        <label class="role"></label>
      </div>
      <table class="params2">
        <tr>
          <td>&alpha; =</td>
          <td class="alpha"></td>
<!--         </tr>
        <tr> -->
          <td>&beta; =</td>
          <td class="beta"></td>

          <td>&gamma; =</td>
          <td class="gamma"></td>

          <td>T =</td>
          <td class="t"></td>

          <td>w =</td>
          <td class="w"></td>
        </tr>
      </table>
      <!-- <h1>5</h1> -->
    </div>
  </div>

  <div id="game" class="box bottom hide">

    <div class="title" align="center">
      <h1>Your Role: 
        <label class="role"></label>
      </h1>
    </div>
    <div class="content">
      <table class="params">
        <tr>
          <td>&alpha; =</td>
          <td class="alpha"></td>
          <td>the probability of being notified of the second buyer's existence in each period</td>
        </tr>
        <tr>
          <td>&beta; =</td>
          <td class="beta"></td>
          <td>the probability that the buyer proposes the price in each period</td>
        </tr>
        <tr>
          <td>&gamma; =</td>
          <td class="gamma"></td>
          <td>the probability the second buyer exists</td>
        </tr>
        <tr>
          <td>T =</td>
          <td class="t"></td>
          <td>the maximum number of negotiation periods</td>
        </tr>
        <tr>
          <td>w =</td>
          <td class="w"></td>
          <td>the price that the second buyer will pay</td>
        </tr>
      </table>

      <div class="line"></div>

      <table class="progress">
        <tr id="progress-row">
          <td>Progress: </td>
          <td id="progress-label">1/10</td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
          <td><div></div></td>
        </tr> 
      </table>

      <div class="flexbox">
        <div class="panel left">
          <p>2nd Buyer</p>
          <div id="2nd-buyer" class="img-box hide">
            <img src="/image/buyer.png"  alt="2nd buyer" />
          </div>
        </div>

        <div class="panel right">

          <table class="timer">
            <td id="time">30</td>
            <td>
              <div class="time-bar">
                <div class="remaining-time"></div>
              </div>
            </td>
          </table>

          <div class="operation hide">
            <div class="input-box">
              <input type="text" placeholder="Propose a price" autofocus="autofocus">
              <div class="proposal proposed"></div>
              <div id="wait-proposal" class="proposal">Waiting for proposal...</div> 
              <div class="proposal refused">Proposal Refused!</div>
              <div class="proposal accepted">Proposal Accpeted!</div>
              <div class="proposal second">2nd Buyer Offered!</div>
            </div>
            <div class="button-box">
              <button id="propose" class="alt"">Propose</button>
              <button id="accept" class="alt disable">Accept</button>
              <button id="refuse" class="alt">Refuse</button>
            </div>
          </div>

        </div>

      </div>

      <!-- <div class="help"><p></p></div> -->
      
    </div>
    
  </div>

  <div id="complete" class="box bottom hide">
    <div class="title" align="center">
      <h1>Thank you very much!</h1>
    </div>
    <div class="content short">
      <p>You have finished all the games.</p> 
    </div>
    <div class="padding-end" align="center">
      <button id="quit" class="big" aling="center">QUIT</button>
    </div>
  </div>



  <script type="text/javascript" src="/js/play.js"></script>
  <script type="text/javascript">
    var status = <%= flag %>;
        if (status == 1) {
            $("#welcome").show();
            $("#continue-info").hide();
            $("#view-description").hide();
            $("#continue").hide();
        } else if (status == 2) {
            $("#welcome").show();
            $("#welcome-info").hide();
            $("#warm-up").hide();
            $("#description").hide();
        } else if (status == 3) {
            $("#complete").show();
        }
  </script>
</body>

</html>