<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="/css/welcome.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="box">
        <h1> Welcome! <%= participantID %></h1>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
</body>

</html>