@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    font-family: "Roboto", sans-serif;
}

.box {
    position: relative;
    top: 20px;
    height: 100%;
    z-index: 3;
    background: #fff;
    max-width: 800px;
    margin: auto auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.tabs {
    overflow: hidden;
    margin-bottom: 14px;
    background-color: #f1f1f1;
}

.tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #fff;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.logout {
    position: absolute;
    right: 0;
    background: #159287;
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover {
    background: #11746b;
}

.game-table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    display: table
}

.game-border {
    border: 1px solid #ccc!important
}

.game-border tbody {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.game-striped tbody tr:nth-child(odd) {
    background-color: #f1f1f1
}

.game-table td, .game-table th {
    max-width: 15%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    -webkit-transition: color 1s ease, background-color 1s ease;
    -moz-transition: color 1s ease, background-color 1s ease;
    -o-transition: color 1s ease, background-color 1s ease;
    transition: color 1s ease, background-color 1s ease;
}

.game-table tr>td:last-child {
    /* padding: 0 16px; */
    padding-left: 8px;
    padding-right: 8px;
}

.game-table input {
    max-width: 70px;
    height: 27px;
    font-size: 16px
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* color: #000; */
    opacity: 0.75;
}

button {
    cursor: pointer;
}

.game-table tfoot td {
    padding-left: 12px
}

button.circular {
    /* width: 25px;
    height: 25px;
    font-weight: 500;
    font-size: 20; */
    color: #fff;
    background: #159287;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

button.circular:hover {
    background: #11746b;
}

.input-board {
    height: 35px;
}

input.alt {
    height: 100%;
    font-size: 16px;
}

button.alt {
    height: 100%;
    padding: 0px 25px;
    line-height: 30px;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #dfdfdf;
    border: none;
    font-size: 16px;
    color: #555;
    background: #fff;
    transition: 0.3s;
}

button.alt:hover {
    background: #f4f4f4;
}

button.alt.small {
    width: 100%;
    max-width: 70px;
    line-height: 22px;
    font-size: 13px;
    padding: 0px 10px;
}

.content {
    width: 95%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 100%;
    margin: 25px auto;
    border-bottom: 1px solid #ddd
}