@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
.problem-description b {
    font-family: 'Times New Roman', Times, serif;
    color: #159287;
}

.problem-description p {
    /* font-family: "Roboto", sans-serif;
    font-weight: 300; */
    font-size: 18px;
    line-height: 30px;
}

button {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.box {
    position: relative;
    top: 20px;
    /* height: 100%; */
    z-index: 3;
    background: #fff;
    max-width: 800px;
    margin: auto auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.box.bottom {
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.title {
    padding-top: 10px;
}

.line {
    width: 100%;
    margin: 25px auto;
    border-bottom: 1px solid #ddd
}

.content {
    width: 95%;
    min-height: 500px;
    text-align: justify;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

button.big {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    outline: 0;
    background: #159287;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer!important;
}

button.big:hover {
    background: #11746b;
}

.no-wrap {
    white-space: nowrap;
}

/* Table Bordered and Striped */

table.bordered {
    border: 1px solid #ccc!important
}

table.bordered tbody {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

table.striped tbody tr:nth-child(odd) {
    background-color: #f1f1f1
}
