@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.hide {
    display: none;
}

.backdrop {
    z-index: 100;
    display: none;
    position: fixed;
    top: -5;
    bottom: -5;
    left: -5;
    right: -5;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.2);
}

.round {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 232px;
    height: 232px;
    border-radius: 50%;
    background: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
   
}

.round > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    position: absolute;
    top:0;
    left: 0;
    border: 16px solid #f3f3f3;
    /* border: 16px solid #fff; */
    border-radius: 50%;
    border-top: 16px solid #159287;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}