@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    font-family: "Roboto", sans-serif;
}

.box {
    position: relative;
    top: 20px;
    height: 100%;
    z-index: 3;
    background: #fff;
    max-width: 800px;
    margin: auto auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}